*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'muli';
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
  color: #272b41;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Muli Font */
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli.ttf);
  font-weight: 400;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-Bold.ttf);
  font-weight: 700;
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  color: #272b41;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn {
  font-size: 16px;
  display: inline-block;
  background: linear-gradient(to right,#f5548e,#fa8b0c);
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 4px;
  transition: all 0.3s;
  border: none;
}
.submit-btn:hover {
  background: linear-gradient(to right,#fa8b0c,#f5548e);
}
.form-input {
  padding: 10px 15px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  font-family: 'muli';
  font-size: 16px;
  text-transform: capitalize;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-md {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
section {
  margin-bottom: 80px;
}
.center {
  text-align: center;
}
h2 {
  font-size: 30px;
  padding-bottom: 10px;
}
p {
  font-size: 16px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.input-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
.input-group label {
  font-size: 18px;
  text-transform: capitalize;
}




/* Register and Login css */
.register-form {
  width: 450px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -225px;
}
.form-header h5 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 30px 30px 25px;
  margin-bottom: 25px;
}
.form-body {
  padding: 0 30px;
}
.form-body input {
  width: 92%;
  padding: 10px 15px 12px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: none;
  font-family: 'muli';
  font-size: 16px;
}
.form-body input[type="submit"] {
  width: 100%;
  background: linear-gradient(to right,#f5548e,#fa8b0c);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form-body #keep_signed_in {
  width: unset;
  margin-right: 5px;
  margin-bottom: 30px;
}
.form-body input[type="submit"]:hover {
  background: linear-gradient(to right,#fa8b0c,#f5548e);
}
.form-excerpts {
  padding: 10px 30px 30px;
}
.form-excerpts .account_exist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-excerpts .account_exist li a {
  color: #f5548e;
  transition: all 0.3s;
}
.form-excerpts .account_exist li a:hover {
  color: #272b41;
}
.form-excerpts p {
  text-align: center;
  margin-bottom: 15px;
}
.form-excerpts .social_login {
  text-align: center;
}
.form-excerpts .social_login li {
  display: inline;
}
.form-excerpts .social_login li a {
  display: inline-block;
  margin: 0 5px;
}
.form-excerpts .social_login li .facebook {
  color: #903af9;
}
.form-excerpts .social_login li .google-plus {
  color: #fd4868;
}
.form-excerpts .social_login li .facebook:hover {
  background-color: #903af9;
  color: #fff;
}
.form-excerpts .social_login li .google-plus:hover {
  color: #fff;
  background-color: #fd4868;
}
.form-body.recover_passw {
  padding-bottom: 20px;
}
.otp-test {
  text-align: center;
  margin-bottom: 20px;
  /* display: none; */
}
.otp-test .btn {
  padding: 10px 30px 10px;
  font-weight: 500;
  transition: all 0.3s;
  margin: 8px 15px 0;
}
.otp-inner {
  position: relative;
}
.otp-inner .otp-cancel {
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 48px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.phone-no {
  display: grid;
  grid-template-columns: 70px auto;
}
.phone-no select {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  color: #444444ab;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.phone-no input[type="phone"] {
  border-left: none;
  border-radius: 0 5px 5px 0;
}








/* owner dashboard */
.admin-inner {
  display: inline-block;
  width: 100%;
}
.admin-sidebar {
  position: fixed;
  height: 100vh;
  background: #343a40;
  width: 23%;
  float: left;
}
ul.sidebar-menu {
  overflow-y: scroll;
  height: 90vh;
}
.admin-content {
  float: left;
  width: 77%;
  margin-left: 23%;
}
.admin-sidebar ul li {
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
}
.admin-sidebar ul li a {
  color: #fff;
}
.admin-sidebar ul li i {
  padding-right: 5px;
}
.admin-sidebar ul li span {
  float: right;
  cursor: pointer;
  width: 20px;
  text-align: center;
}
ul.inner-nav {
  /* opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s; */
  /* display: none; */
}
ul.inner-nav.show {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #4f5962;
}
.sidebar-header p a {
  color: #fff;
}
ul.inner-nav li a {
  color: #fff;
  position: relative;
}
.inner-nav li.active a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #f5548e;
  left: 4px;
  top: 4px;
  border-radius: 11px;
}
.ad-content-header {
  background: #4f5962;
  text-align: right;
  padding: 15px 30px 20px;
}
.ad-content-header ul li {
  color: #fff;
  cursor: pointer;
}
.ad-content-header ul li img {
  width: 36px;
  border-radius: 50px;
  margin-bottom: -15px;
  margin-right: 5px;
}
.ad-content-header ul ul {
  background: #4f5962;
  width: 140px;
  position: absolute;
  right: 20px;
  top: 53px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.ad-content-header ul li:hover ul {
  opacity: 1;
  visibility: visible;
}
.ad-content-header ul ul li a {
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 10px;
  display: block;
  transition: all 0.3s;
}
.ad-content-header ul ul li a:hover {
  color: #f5548e;
}
.admin-cont-inner {
  padding: 30px;
}
.admin-cont-inner h2 {
  font-size: 24px;
  padding-bottom: 30px;
}
.admin-cont-inner input {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}
.category-form input[type="file"] {
  width: 250px;
  padding: 12px;
  position: relative;
  cursor: pointer;
}
.category-form {
  position: relative;
}
.category-form small {
  position: absolute;
  left: 0;
  bottom: -5px;
  color: #4f5962;
}
.admin-cont-inner input[type="submit"] {
  width: inherit;
  background: linear-gradient(to right,#f5548e,#fa8b0c);
  color: #fff;
  cursor: pointer;
  padding: 16px 50px;
  border: none;
  transition: all 0.3s;
}
.admin-cont-inner input[type="submit"]:hover {
  background: linear-gradient(to right,#fa8b0c,#f5548e);
}
.admin-cont-inner .title-add {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.new-btn {
  display: inline-block;
  background: linear-gradient(to right,#f5548e,#fa8b0c);
  color: #fff;
  cursor: pointer;
  padding: 10px 14px 12px;
  border-radius: 4px;
  transition: all 0.3s;
}
.align-right {
  text-align: right;
}
.admin-cont-inner table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
.admin-cont-inner th, .admin-cont-inner td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  text-align: left;
}
.admin-cont-inner tr {
  border-bottom: 1px solid #ddd;
}
.admin-cont-inner td a {
  padding: 0 4px;
}
.admin-cont-inner .edit {
  color: #fa8b0c;
}
.admin-cont-inner .delete {
  color: red;
}
.admin-cont-inner .view {
  color: #903af9;
}

/* end bashboard */


/* Home page main header section */
.header-main-area {
  background-image: url(assets/imgs/hero-bg.jpg);
  position: relative;
  z-index: 9;
}
.header-main-area::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
  z-index: -1;
}
.header-area {
  padding: 20px 0;
}
header.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.main-menu {
  text-align: center;
}
.register-menu {
  text-align: right;
}
.main-menu ul li, .register-menu ul li {
  display: inline;
  padding: 0 5px;
}
.main-menu ul li a, .register-menu ul li a {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  padding: 5px;
  transition: all 0.3s;
}
.main-menu ul li a:hover, .register-menu ul li a:hover {
  color: #fd4868;
}
.banner {
  text-align: center;
  padding: 120px 0 220px;
}
.banner h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}
.banner p {
  color: #fff;
  margin-bottom: 25px;
}
.search-form {
  background: #fff;
  padding: 25px 20px 25px;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
}
.search-form input {
  width: 43%;
}
.search-form select {
  width: 20%;
  cursor: pointer;
}
.search-form .submit-btn {
  width: 12%;
}
.cat-slider-inner {
  padding: 20px 0;
  width: 80%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #0009;
  position: absolute;
  left: 10%;
  bottom: -60px;
}
.category img {
  width: auto !important;
  margin: 0 auto;
}
.owl-nav button {
  transition: all 0.3s;
}
button.owl-prev {
  position: absolute;
  left: -25px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right,#f5548e,#fa8b0c) !important;
  border-radius: 50px;
}
button.owl-next {
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right,#f5548e,#fa8b0c) !important;
  border-radius: 50px;
}
.owl-nav button:hover {
  background: linear-gradient(to right,#fa8b0c,#f5548e) !important;
}
.owl-nav span {
  font-size: 36px;
  line-height: 25px;
  color: #fff;
}
.category-slider a {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
}
/* end main header area */


/* Best Food */
.best-food {
  padding-top: 70px;
}
.bfood-title {
  text-align: center;
  padding-bottom: 30px;
}

.bfood-item {
  border: 1px solid #ddd;
  position: relative;
}
.bfood-item img {
  width: 100%;
}
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background:#fd4868;
  padding: 2px 20px 7px;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}
.badge.popular {
  background-color: #fa8b0c;
}
.badge.new {
  background-color: #fd4868;
}
.badge.featured {
  background-color: #32cc6f;
}
.bf-item-cont {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.bf-item-cont a {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
ul.meta-listing {
  margin-bottom: 15px;
}
ul.meta-listing li {
  display: inline-block;
  margin-right: 5px;
  padding: 8px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  color: #fff;
}
ul.meta-listing li.review {
  background: #32cc6f;
}
ul.meta-listing li.price {
  background: #fd4868;
}
ul.meta-listing li.open {
  border: 1px solid #32cc6f;
  color: #32cc6f;
}
ul.meta-listing li.close {
  border: 1px solid #fd4868;
  color: #fd4868;
}
ul.meta-data li i {
  color: #fd4868;
  margin-right: 5px;
}
ul.meta-data li {
  color: #4f5962;
  margin-bottom: 7px;
}
.bf-item-footer {
  display: grid;
  grid-template-columns: 70% auto;
  padding: 15px;
}
.bf-item-footer p a {
  color: #4f5962;
}
ul.bfi-view {
  display: flex;
  justify-content: space-between;
}
ul.bfi-view li {
  color: #4f5962;
}
ul.bfi-view li a {
  color: #4f5962;
  transition: all 0.3s;
}
ul.bfi-view li a:hover {
  color: red;
}
ul.bfi-view li a.active {
  color: red;
}

.bf-item-footer p span {
  width: 30px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 44px;
  background: #903af9;
  color: #fff;
  padding: 0px;
}


/* accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion .active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.load-more {
  margin: 25px 0;
}


.hero-area {
  text-align: center;
  padding: 80px 0;
}
.hero-area h1 {
  font-size: 36px;
  color: #fff;
  padding-bottom: 15px;
}
.hero-area p {
  font-size: 18px;
  color: #fff;
}
.business-info {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
}
.business-info h2 {
  font-size: 20px;
  padding: 25px;
  border-bottom: 1px solid #efefef;
}
.info-field {
  padding: 25px;
}
.business-info .phone-no {
  grid-template-columns: 90px auto;
  margin-bottom: 15px;
}
.business-info .otp-inner input {
  width: 100%;
}
.business-info .otp-test {
  text-align: left;
}
.business-info .otp-test .btn {
  padding: 12px 24px 10px;
  margin: 8px 0px 0;
}
.col-3-social {
  display: grid;
  grid-template-columns: 2fr 4fr 0.5fr;
  grid-gap: 15px;
}
button.btn.add-social {
  width: 110px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
