*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'muli';
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.2;
  color: #272b41;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Muli Font */
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli.ttf);
  font-weight: 400;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: muli;
  src: url(assets/fonts/Muli-Bold.ttf);
  font-weight: 700;
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: #272b41;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 8px 20px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}





/* Register and Login css */
.register-form {
  width: 450px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -225px;
}
.form-header h5 {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 30px 30px 25px;
  margin-bottom: 25px;
}
.form-body {
  padding: 0 30px;
}
.form-body input {
  width: 92%;
  padding: 10px 15px 12px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 4px;
  outline: none;
  font-family: 'muli';
  font-size: 16px;
}
.form-body input[type="submit"] {
  width: 100%;
  background: linear-gradient(to right,#f5548e,#fa8b0c);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form-body #keep_signed_in {
  width: unset;
  margin-right: 5px;
  margin-bottom: 30px;
}
.form-body input[type="submit"]:hover {
  background: linear-gradient(to right,#fa8b0c,#f5548e);
}
.form-excerpts {
  padding: 10px 30px 30px;
}
.form-excerpts .account_exist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-excerpts .account_exist li a {
  color: #f5548e;
  transition: all 0.3s;
}
.form-excerpts .account_exist li a:hover {
  color: #272b41;
}
.form-excerpts p {
  text-align: center;
  margin-bottom: 15px;
}
.form-excerpts .social_login {
  text-align: center;
}
.form-excerpts .social_login li {
  display: inline;
}
.form-excerpts .social_login li a {
  display: inline-block;
  margin: 0 5px;
}
.form-excerpts .social_login li .facebook {
  color: #903af9;
}
.form-excerpts .social_login li .google-plus {
  color: #fd4868;
}
.form-excerpts .social_login li .facebook:hover {
  background-color: #903af9;
  color: #fff;
}
.form-excerpts .social_login li .google-plus:hover {
  color: #fff;
  background-color: #fd4868;
}
.form-body.recover_passw {
  padding-bottom: 20px;
}
.otp-test {
  text-align: center;
  margin-bottom: 20px;
  /* display: none; */
}
.otp-test .btn {
  padding: 10px 30px 10px;
  font-weight: 500;
  transition: all 0.3s;
  margin: 8px 15px 0;
}
.otp-inner {
  position: relative;
}
.otp-inner .otp-cancel {
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 48px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.phone-no {
  display: grid;
  grid-template-columns: 70px auto;
}
.phone-no select {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  color: #444444ab;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.phone-no input[type="phone"] {
  border-left: none;
  border-radius: 0 5px 5px 0;
}








/* owner dashboard */
.owner-inner {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  height: 100vh;
  background: #212529;
  padding: 30px;
}
.content {
  padding: 30px 30px 30px 20px;
}
.sidebar ul li {
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 10px;
}
.sidebar ul li i {
  padding-right: 5px;
}
.sidebar ul li span {
  float: right;
}
